@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
  }
}

body {
  overflow-x: hidden;
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@media only screen and (max-width: 600px) {
	header {
		display: flex;
		flex-direction: row; /* Align items in a row */
		align-items: center; /* Center items vertically */
		justify-content: center; 
		flex-wrap: wrap; /* Allow items to wrap to next line */
		overflow-x: hidden;
	}
	
	.link-class, nav { /* Use actual class name for <Link> */
        max-width: calc(50% - 10px); /* Adjust as needed */
    }

    .header-text {
        order: 3; /* Move the text below the navbar */
        width: 100%; /* Full width */
        text-align: center;
        margin-top: 5px; /* Add some space above the text */
		justify-content: center;
    }

    nav {
		margin: 4;
		padding: 4;
		justify-content: flex-start;
        order: 2; /* Keep the navbar order */
        width: 100%; /* Full width for the nav */
    }
	
}